<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AIChat.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>2AF1C70F291D670EF13F8E30444326051F25F9E2</string>
				<key>dateExpires</key>
				<string>2026/4/25</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>A4J67L83R5.com.haooqi.aichat.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>A4J67L83R5</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>AIChatApp_iOS.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>2f0382b0-cb99-4cfc-b2a5-51d634615df9</string>
				<key>dateExpires</key>
				<string>2026/4/25</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.haooqi.aichat.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>A4J67L83R5</string>
				<key>name</key>
				<string>Fujian Xingwang Zhihui Technology Co., Ltd.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
